<h1>
    Review Submission
</h1>

<form action="/review" method="post">
    <input type="hidden" name="customer_id" value="<%= cust_id %>"> 
    <input type="hidden" name="product_id" value="<%= product_id %>"> 
    <input type="hidden" name="reviewdate" value="<%= subdate %>">
    <input type="hidden" name="status" value="Internal">
    <table>
        <tr> 
            <td> Comments: </td> 
            <td> 
                <textarea name="comments" rows="10" cols="30" placeholder="Enter Review" required></textarea>
            </td>  
        </tr>
        <tr> 
            <td> Rating: </td> 
            <td> 
                <input type="radio" name="rating" value="1"> ★ <br/>
                <input type="radio" name="rating" value="2"> ★★ <br/>
                <input type="radio" name="rating" value="3"> ★★★ <br/>
                <input type="radio" name="rating" value="4"> ★★★★ <br/>
                <input type="radio" name="rating" value="5" checked="true" > ★★★★★<br/>
            </td>
        </tr>
    </table>
    <button type="submit">
        Save
    </button>
</form>