<table bgcolor='lightblue' width='100%'> 
    <tr>
        <td width='20%' align='left'>
            <a href="/">
                <img src="/images/logo.JPEG" width="80" height="60">
            </a>
        </td>
        <td width='60%' align='center'>
            <h1>TEHOS</h1>
        </td>
        <td width='10%' align='center'>
            <% if(session.customer_id > 0) 
            { %>
                <b> 
                    <b> 
                        <%= session.custname %>! 
                        <a href='/customer/logout'>Logout</a>
                    </b> 
                </br>
            <% } 
            else 
            { %>
                <a href='/customer/register'>
                    New Customer
                </a> 
                </br> 
                <a href='/customer/login'>
                    Login
                </a>
            <% } %>
        </td>
        <td width='10%' align='center'> 
            <a href="/catalog/cart">
                Cart
            </a>
        </td>
    </tr>
</table>

<p> 
    <form action="/search" method="get">
        <p> Search: 
            <input type="text" name="searchcriteria">
            <input type="submit" value="Go">
        </p>
    </form>    
</p> 

<ul>
    <li> 
        <a href="/">Home</a>
    </li>
    <li> 
        <a href="/about">About Us</a>
    </li>
    <li> 
        <a href="/contact">Contact Us</a>
    </li>
    <li> 
        <a href="/catalog">Catalog</a>
    </li>
    <% if (session.isadmin)
    { %>
        <li>
            <div class="dropdown">
                <button class="dropbtn">
                    Admin Menu
                </button>
                <div class="dropdown-content">
                    <a href="/product">Product</a>
                    <a href="/customer">Customer</a>
                    <a href="/category">Category</a>
                    <a href="/saleorder">Sale Order</a>
                    <a href="/orderdetail">Order Detail</a>
                    <a href="/packaging">Packaging</a>
                    <a href="/review">Review</a>
                    <a href="/report">Report</a>
                </div>
            </div>
        </li>
    <% } %>
</ul>