<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>TEHOS</h1>
    <h2>The Executive Home Office Setup</h2>
    <p>By: Gerardo Vidal</p>
  </body>
</html>
