body 
{
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: blacks;
}

a 
{
  color: #00B7FF;
}

h1 
{
  font-family: Arial, sans-serif;
  color: black;
}

h2
{
  color: blue;
}

h3
{
  color: black;
}


h4
{
  color: black;
}


h5
{
  color: black;
}

p
{
  color: purple;
}

img 
{
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
}

img:hover 
{
  border: 1px solid #777;
}

ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}
 
li 
{
  float: left;
}
 
li a 
{
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) 
{
  background-color: #ddd;
}

li a.active 
{
  color: white;
  background-color: #4CAF50;
}

.button1 
{
  background-color: #008CBA;
  font-size: 10px;
  border-radius: 4px;
  border: 2px solid #4CAF50;
   -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button2
{
  background-color: #eaedee;
  font-size: 9px;
  border-radius: 4px;
  border: 2px solid #d5f522;
   -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(88, 85, 85, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button3
{
  background-color: #eaedee;
  font-size: 9px;
  border-radius: 4px;
  border: 2px solid #ec0d0d;
   -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
  box-shadow: 0 12px 16px 0 rgba(88, 85, 85, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

product 
{
  margin: 5px;
  border: 2px solid #ccc;
  float: left;
  background: #ffffe6;
  box-shadow: 5px 5px 2px #888888;
  min-width: 250px;
  max-width: 250px;
  min-height: 300px;
  max-height: 300px;
  border-radius: 5px;
  padding: 5px;
}

/* Dropdown Button */
.dropbtn 
{
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown 
{
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content 
{
  background-color: #bae24c;
  display: none;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  position: relative;
}

/* Links inside the dropdown */
.dropdown-content a 
{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover 
{
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content 
{
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn 
{
  background-color: #3e8e41;
}


