<h1>Reports</h1>

<p>Available reports are Below:</p>

<p>
    <a href="/report/customer">Customer Listing</a><br>
    <a href="/report/product">Product Listing</a><br>
    <a href="/report/sale">Sales Listing</a>
</p>